body {
  background-color: #f8f8f8;
  background-position: 0px 0px, 0px 0px;
  background-repeat: no-repeat, repeat;
  font-family: "Cairo", sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0em;
  margin: 0;
  min-height: 100%;
  display: block;
}
h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #222;
  font-size: 72px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: 3px;
}
h2 {
  margin-top: 16px;
  margin-bottom: 0px;
  color: #222;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  letter-spacing: 0em;
}
h6 {
  margin-top: 16px;
  margin-bottom: 0px;
  font-family: "Pitchsans Semibold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: underline;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #222;
  text-decoration: none;
}
img {
  display: block;
}

.body-home {
  background: linear-gradient(
    117deg,
    rgb(120, 86, 224) 4%,
    rgb(248, 105, 226) 23%,
    rgb(55, 185, 195) 53%,
    rgb(235, 236, 222) 85%,
    rgb(242, 240, 246) 100%
  );
}
.nav-logo-container {
  position: relative;
  display: inline-block;
  width: auto;
  height: 32px;
  margin-right: 0px;
  margin-left: 0px;
}
.header-link-group {
  top: 28px;
  right: 28px;
  display: inline-block;
  position: absolute;
}
.header-link {
  display: inline-block;
  padding: 12px 20px;
  font-size: 25px;
  line-height: 28px;
  font-weight: 300;
  text-decoration: none;
  color: #000;
}
.header-link:hover {
  color: #000;
  font-weight: 600;
}
.logo-link {
  position: relative;
  height: 32px;
  top: 40px;
  left: 28px;
  font-size: 25px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
}
.logo-link:hover {
  color: #ffffff;
}
.standard-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  object-fit: fill;
}
.intro-wrap {
  margin-bottom: 60px;
  padding-top: 96px;
}
.h1-second {
  font-size: 50px;
}
.h1-work {
  font-size: 40px;
  font-weight: 200;
}
.paragraph-xl {
  max-width: 740px;
  opacity: 1;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
}
.divider---full---black {
  width: 100%;
  height: 1px;
  margin-bottom: 0px;
  padding-top: 0px;
  background-color: #222;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.home-preview-description {
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-h1 {
  margin-top: 70px;
  margin-bottom: 24px;
}
.section-style {
  margin-top: 96px;
  margin-right: 40px;
  margin-left: 40px;
}
.section-style.section-home {
  margin-top: 0px;
}

.col-sm-6 {
  margin-top: 120px;
}
.img-special {
  margin-top: 100px;
  align-self: center;
  margin-left: 15px;
}

.project-main-title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}
.project-title {
  font-size: 20px;
  font-weight: 200;
}
.project-description {
  font-size: 15px;
}
.footer-wrap {
  display: flex;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 0px 96px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e9f89227fb48a0cac861026_New-Footer-BG%401x.png");
  background-position: 50% 100%;
  background-size: 1724px;
  background-repeat: no-repeat;
}
.footer-top-divider {
  display: flex;
  margin-top: 96px;
  padding-bottom: 180px;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  align-items: flex-start;
}
.footer-divider {
  width: 100%;
  height: 1px;
  align-self: center;
  background-color: #222;
}
.footer-dots {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: -50px;
  z-index: 3;
  width: 352px;
  height: 202px;
  background-image: url("https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e859553fc819702b5aee379_Footer%20Dots%402x.png");
  background-position: 0px 0px;
  background-size: 352px;
  background-repeat: no-repeat;
}
.link-block.w--current {
  justify-content: flex-end;
}
.link-block {
  display: block;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: right;
  font-weight: 600;
  font-size: 50px;
}
.footer-title:hover {
  color: #000;
}

.email-link {
  text-align: right;
  margin-bottom: 10px;
}
.email-link:hover {
  color: #c3195d;
}
.footer-links {
  display: flex;
  margin-right: 0px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  opacity: 1;
  color: #222;
  font-size: 35px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: none;
}

.footer-item:hover {
  opacity: 1;
  color: #222;
}

.footer-item:active {
  opacity: 1;
}
.bio-wrapper {
  width: 740px;
  margin-right: auto;
  margin-bottom: 96px;
  margin-left: auto;
  padding-top: 48px;
  padding-bottom: 0px;
}

.bio-statement-and-portrait {
  margin-top: 35px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 2fr 1.4fr;
  grid-template-columns: 2fr 1.4fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.personal-statement {
  opacity: 1;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4px;
}
.portrait-container {
  position: relative;
  max-height: 212px;
  background-image: url("https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5eb706f479f88606814078dc_Squiggle%402x.png");
  background-position: 40px 50%;
  background-size: 16px 120px;
  background-repeat: no-repeat;
}
.ana-portrait {
  position: absolute;
  right: 0px;
  max-height: 212px;
  max-width: 212px;
  border: 4px solid #fff;
  border-radius: 24px;
  box-shadow: 11px 11px 48px 0 rgba(0, 0, 0, 0.12);
}
.bio-highlights {
  overflow: visible;
  margin-top: 64px;
  justify-items: stretch;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.85fr 0px 1fr 0px 1fr;
  grid-template-columns: 0.85fr 1fr 1fr;
  -ms-grid-rows: auto 0px auto;
  grid-template-rows: auto auto;
  border: 1px none #000;
  -o-object-fit: fill;
  object-fit: fill;
}
.bio-highlight-square-1 {
  height: 100%;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #222;
  border-left: 1px none #222;
}
.grid-titles {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 8px;
  -o-object-fit: fill;
  object-fit: fill;
}
.grid-paragraph {
  margin-bottom: 0px;
}

.bio-highlight-square-1 {
  height: 100%;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #222;
  border-left: 1px none #222;
}
.bio-highlight-square-2 {
  height: 100%;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
}
.bio-highlight-square-3 {
  height: 100%;
  padding-bottom: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
}
.bio-highlight-square-4 {
  padding-top: 24px;
  padding-right: 24px;
  border-bottom: 1px none #222;
  border-left: 1px none #222;
}
.bio-highlight-square-5 {
  height: 100%;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px none #222;
  border-left: 1px solid #222;
}

.bio-highlight-square-6 {
  height: 100%;
  padding-top: 24px;
  padding-left: 24px;
  border-bottom: 1px none #222;
  border-left: 1px solid #222;
}

@media screen and (max-width: 991px) {
  h1 {
    text-align: left;
  }

  h2 {
    text-align: left;
  }
  .navigation {
    position: relative;
    padding: 40px 40px 0px;
  }

  .intro-wrap {
    padding-top: 24px;
    padding-bottom: 0px;
  }

  .footer-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }

  .link {
    text-align: left;
  }

  .footer-top-divider {
    margin-top: 64px;
    padding-bottom: 96px;
  }

  .footer-dots {
    left: 22px;
    bottom: -50px;
  }

  .body {
    overflow: hidden;
  }

  .bio-wrapper {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 0px;
  }

  .portrait-container {
    background-position: 20px 50%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
  h2 {
    margin-top: 100px;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
  }
  .h1-second {
    font-size: 30px;
  }
  .paragraph-xl {
    max-width: 740px;
    font-size: 15px;
  }

  .section-style.section-home {
    margin-top: 0px;
  }
  .home-h1 {
    margin-top: 80px;
    margin-bottom: 10px;
  }
  .col-sm-6 {
    margin-top: 40px;
  }
  .img-fluid.rounded.mx-auto.d-block.pt-5.mt-5 {
    margin-top: 3px !important;
    padding-top: 0 !important;
  }

  .project-main-title {
    font-size: 25px;
  }
  .project-title {
    font-size: 17px;
  }
  .footer-wrap {
    overflow: hidden;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 32px;
    padding-bottom: 48px;
    padding-left: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer-top-divider {
    margin-top: 64px;
    padding-bottom: 104px;
  }

  .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer-title {
    text-align: left;
    font-size: 40px;
  }

  .email-link {
    text-align: left;
  }
  .footer-item {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 24px;
    padding-left: 0px;
    font-size: 30px;
  }
  .link-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .link-block.w--current {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .nav-logo-container {
    position: relative;
  }
  .footer-dots {
    left: auto;
    right: -135px;
    bottom: 12px;
  }
  .footer-top-divider {
    margin-top: 8px;
  }
  .h1-work {
    font-size: 20px;
  }
  .ana-portrait {
    max-height: 144px;
    max-width: 144px;
  }

  .bio-statement-and-portrait {
    max-width: 740px;
  }

  .bio-wrapper {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .bio-highlights {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    max-width: 740px;
  }

  .bio-highlight-square-5 {
    padding-bottom: 24px;
    padding-left: 0px;
    border-bottom-style: solid;
    border-left-style: none;
  }

  .bio-highlight-square-4 {
    padding-bottom: 24px;
    border-bottom-style: solid;
  }

  .portrait-container {
    max-height: 144px;
    background-image: none;
  }

  .bio-highlight-square-3 {
    padding-top: 24px;
    padding-left: 0px;
    border-left-style: none;
  }

  .bio-highlight-square-6 {
    padding-left: 0px;
    border-left-style: none;
    padding-bottom: 24px;
  }
  .grid-titles {
    margin-bottom: 8px;
  }
  .grid-paragraph {
    text-align: left;
    letter-spacing: -0.02em;
  }
}

@media (max-width: 375px) {
  h2 {
    margin-top: -10px;
    margin-bottom: -25px;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
  }
  .header-link {
    padding: 12px 5px;
    font-size: 18px;
  }
  .logo-link {
    font-size: 20px;
  }
  .footer-title {
    font-size: 30px;
  }
  .footer-item {
    font-size: 25px;
  }
  .footer-dots {
    display: none;
  }
  .footer-top-divider {
    margin-top: 8px;
  }

  .section-style {
    margin-top: 64px;
    margin-right: 32px;
    margin-left: 32px;
  }
  .section-style.section-home {
    margin-top: 0px;
  }
  .standard-container {
    position: relative;
  }

  .home-h1 {
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 48px;
  }

  .ana-portrait {
    display: none;
  }

  .bio-statement-and-portrait {
    margin-top: 60px;
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .bio-wrapper {
    margin-top: 48px;
    padding-bottom: 0px;
  }

  .bio-highlights {
    padding-bottom: 0px;
    grid-template-areas:
      "Area-2 Area-2"
      "Area Area"
      "Area-3 Area-3";
  }

  .bio-highlight-square-2 {
    padding-right: 0px;
  }

  .bio-highlight-square-5 {
    padding-right: 0px;
  }

  .bio-highlight-square-1 {
    padding-right: 0px;
  }

  .bio-highlight-square-4 {
    padding-right: 0px;
  }

  .bio-highlight-square-6 {
    padding-bottom: 24px;
  }

  .home-teaser-list {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  #w-node-a092fbde-4f9b-0e1e-f56d-d9b762e73e07-39dcd323 {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-_89787029-a570-2130-39ed-eb55d3118b5a-3edcd32a {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-a99d2cf8-0d4e-87ab-1837-048c837bb7d9-3edcd32a {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_4a77f426-031a-444c-7774-8ebe1f0ba718-3edcd32a {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_04c86d29-80ba-9e8d-5647-30411bfb34f6-3edcd32a {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-a092fbde-4f9b-0e1e-f56d-d9b762e73e07-2b744261 {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}
